* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: 'DeerHouseDemoRegular';
}

body {
  min-height: 100vh; 
  background: rgb(255,92,92);
  background: radial-gradient(circle, rgba(255,92,92,1) 23%, rgba(255,17,17,1) 50%, rgba(191,21,21,1) 73%, rgba(176,15,15,1) 87%);
  display: flex; 
  align-items: center;
  justify-content: center;
}

.container{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em; 
  color: white; 
  background-color: rgba(255, 255, 255, 0.30);
  border-radius: 2em;
  padding: 4em 2em; 
}

.title{ 
  font-size: 3.5em; 
  color: white; 
}

hr{ 
  width: 100%; 
  background-color: white;
  height: 5px;
  border-radius: 1em;
  border: none;
}

.timer{ 
  font-family: Thick; 
  font-size: 7em;
  font-weight:500;
}

.button-wrapper{ 
  display: flex; 
  gap: 1em; 
}

button{ 
  font-size: 1.5em; 
  font-weight: 400; 
  letter-spacing: 1px;
  padding: 0.5em 1.5em;
  border-radius: 0.5em; 
  border: none; 
  color: white; 
  cursor: pointer; 
  transition: 0.2s ease-in-out;  
}

button:hover{
  transform: translateY(-10px);
}

#start{ 
  background-color: green;
}

#stop{
  background-color: red;
}

#reset{
  background-color: blue;
}

#webcamButton{ 
  background-color: gray;
}

h1 {
  font-style: italic;
  color: black;
}

video {
  display: block;
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.invisible {
  opacity: 0.2;
}

.camView {
  position: relative;
  float: left;
  width: calc(100% - 20px);
  margin: 10px;
  cursor: pointer;
}

.camView p {
  position: absolute;
  padding: 5px;
  background-color: rgba(255, 111, 0, 0.85);
  color: #FFF;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

.keypoint {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f00;
  position: absolute;
  transform: translate(-50%, -50%);
}

.line {
  position: absolute;
  border: 1px solid #00f;
}

#liveView {
  position: relative;
}

@font-face {
  font-family: "DeerHouseDemoRegular";
  src: url("../DeerHouseDemoRegular.ttf");
}

@font-face {
  font-family: "Thick";
  src: url("../Thick.otf");
}