* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: "helvetica, arial, sans-serif";
}

body {
  min-height: 100vh; 
  background: rgb(176,15,15);
  background: linear-gradient(39deg, rgba(176,15,15,1) 24%, rgba(229,23,23,1) 39%, rgba(233,70,70,1) 71%, rgba(252,135,135,1) 100%);
  display: flex; 
  align-items: center;
  justify-content: center;
}

.container{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em; 
  color: white; 
  background-color: rgba(255, 255, 255, 0.20);
  border-radius: 2em;
  padding: 4em 2em; 
}

.title{ 
  font-size: 3em; 
}

hr{ 
  width: 100%; 
  background-color: white;
  height: 5px;
  border-radius: 1em;
  border: none;
}

.timer{ 
  font-size: 10em;
  font-weight: 700;
}

.button-wrapper{ 
  display: flex; 
  gap: 1em; 
}

button{ 
  font-size: 2em; 
  font-weight: 800; 
  letter-spacing: 1px;
  padding: 0.5em 1.5em;
  border-radius: 0.5em; 
  border: none; 
  color: white; 
  cursor: pointer; 
  transition: 0.2s ease-in-out;  
}

button:hover{
  transform: translateY(-10px);
}

#start{ 
  background-color: green;
}

#stop{
  background-color: red;
}

#reset{
  background-color: blue;
}

h1 {
  font-style: italic;
  color: black;
}

video {
  display: block;
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.removed {
  display: none;
}

.invisible {
  opacity: 0.2;
}

.camView {
  position: relative;
  float: left;
  width: calc(100% - 20px);
  margin: 10px;
  cursor: pointer;
}

.camView p {
  position: absolute;
  padding: 5px;
  background-color: rgba(255, 111, 0, 0.85);
  color: #FFF;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

.keypoint {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f00;
  position: absolute;
  transform: translate(-50%, -50%);
}

.line {
  position: absolute;
  border: 1px solid #00f;
}

#liveView {
  position: relative;
}
