* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: 'ch.otf';
}

body {
  background: #f6f4f1;
  display: flex; 
  align-items: center;
  justify-content: center;
  background-size: 40px 40px;
  min-height: 100vh;

}

.container{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em; 
  color: rgb(4, 4, 4); 
  padding: 3em 2em; 
  margin: 2em 0; 
  width: 700px; 
}

.title{ 
  font-size: 3.5em; 
  color: rgb(0, 0, 0); 
}

.timer{ 
  font-family: 'ch.otf'; 
  font-size: 6em;
}

.button-wrapper{ 
  display: flex; 
  gap: 1em; 
}

button{ 
  font-size: 1.5em; 
  font-weight: 400; 
  letter-spacing: 1px;
  padding: 0.5em 1.5em;
  border-radius: 0.5em; 
  border: none; 
  color: white; 
  cursor: pointer; 
  transition: 0.2s ease-in-out;  
}

button:hover{
  transform: translateY(-10px);
}

#twentyfive{
  background-color: #5b9724;
}

#five{
  background-color: #e92e25;
}

#start{ 
  background-color: #e92e25;
}

#webcamButton{ 
  background-color: #e92e25;
}

h1 {
  font-style: italic;
  color: black;
}

video {
  display: block;
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.invisible {
  opacity: 0.2;
}

.camView {
  display: none;
  justify-content: center;
  align-items: center;
}

.camView.active {
  display: flex; 
}

.camView p {
  position: absolute;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.85);
  color: #FFF;
  border: 3px solid #FFF;
  z-index: 2;
  font-size: 12px;
  border-radius: 2em;

}

.camView video { 
  width: 100%; 
  height: auto; 
  border-radius: 1.5em;

}
.highlighter {
  background: rgba(223, 31, 31, 0.308);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

.keypoint {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f00;
  position: absolute;
  transform: translate(-50%, -50%);
}

.line {
  position: absolute;
  border: 1px solid #00f;
}

#liveView {
  position: relative;
}

@font-face {
  font-family: "Handwrite";
  src: url("../Handwrite.ttf");
}